{{#partial "blocks/title"}}
<title>Vert.x Index Page</title>
{{/partial}}

{{#partial "content" }}
<h1>Index Page</h1>

<a href='/index'>Index (GET)</a> <br />
<a href='/ping'>Ping (POST)</a> <br />
<a href='/catalogue/products/电子/16075'>Catalogue (GET)</a> <br />
<a href='/articles/channel/big-data/vagrant.html'>Articles (GET, .json, .xml, .html)</a> <br />
<a href='/error' style="color:red;">Error Page (Illegal Access)</a> <br />
<a href='/throw'>Throw an exception purpose</a> <br />
<a href='/dashboard'>Dashboard</a> <br />
<a href='/access_token'>Access Token (POST)</a> <br />

{{/partial}}



{{#partial "blocks/script"}}
<script type="text/javascript" id="r_1">

</script>
{{/partial}}

{{> layouts/layout_default}}
